<footer>
  <div class="f-info">
    <div class="f-info-made">
      Made with &nbsp; <i class="fa fa-heart" aria-hidden="true"></i> &nbsp; by &nbsp; 
      <a class="footer-link" href="https://www.linkedin.com/in/jyotshah1/">Jyot Shah</a>
    </div>
    <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
  </div>
</footer>